<div>
  <app-fruit-picker [(selectedValue)]="guess[0]"></app-fruit-picker>
  <app-fruit-picker [(selectedValue)]="guess[1]"></app-fruit-picker>
  <app-fruit-picker [(selectedValue)]="guess[2]"></app-fruit-picker>
  <app-fruit-picker [(selectedValue)]="guess[3]"></app-fruit-picker>

  <button (click)="makeGuess()"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
  <p *ngIf="error">{{ error }}</p>
</div>

<ul>
  <li *ngFor="let round of game?.rounds">
    <!--<span *ngFor="let slot of round.slots">{{ slot }} </span>-->
    <app-old-fruit [fruits]="round.slots"></app-old-fruit>
    <div>Rnrp: </div>{{ round.rnrp }} 
    <div>Rnwp: </div>{{ round.rnwp }}
  </li>
</ul>

<span *ngFor="let slot of guess">{{ slot }} </span><br />
<!--<span *ngFor="let slot of game?.answer.slots">{{ slot }}</span>-->